.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 35px;
}

.btn {
    padding: 12px 26px;
    border: none;
    font-size: 12px;
}

.btn1 {
    border: 1px solid black;
    background: rgba(240, 208, 208, 0.74);
}

.btn2 {
    border-bottom: 1px solid black;
}

.btn3 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: rgb(199, 235, 199);
}

.btn4 {
    border-radius: 8px;
    background: rgb(230, 199, 142);
}

.btn5 {
    border-radius: 8px;
    padding: 8px 26px;
    background: rgb(179, 144, 211);
}

.btn6 {
    background: rgb(187, 206, 149);
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.btn7{
    border-radius: 91px;
    background: #daaeda;
}
.btn8 {
    background: rgb(187, 206, 149);
    box-shadow: 6px 6px 1px 1px rgb(150, 148, 148);
}

.btn9 {
    position: relative;
    background: #f4e5e5;
}

.btn9::before {
    z-index: -1;
    top: -3px;
    right: -3px;
    content: "";
    height: 28px;
    width: 36px;
    border: 3px solid rgb(85, 82, 82);
    background: transparent;
    position: absolute;
}

.btn10 {
    box-shadow: 0 0 1px 1px rgb(150, 148, 148);
}
.btn11{
    border-radius: 27%;
}

.btn12 {
    box-shadow: 0 0 2px 1px;
}

.btn13 {
    background: #eedbde;
    box-shadow: 0px 0px 11px 2px #524e4e inset;
}

.btn17 {
    background: rgb(233, 243, 176);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.btn16 {
    background: rgb(243, 176, 237);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn18 {
    background: rgb(176, 176, 243);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.btn20 {
    box-shadow: 2px 2px 10px 2px rgb(117, 113, 113);
    background: rgb(191, 231, 238);

}

.btn21 {
    box-shadow: -1px -4px 2px 2px #8f8888 inset;
}

.btn22 {
    box-shadow: 2px 0 5px 0px;
    background: rgb(214, 201, 201);
}

.btn22 {
    box-shadow: 2px 0 5px 0px;
    background: rgb(214, 201, 201);
}

.btn24 {
    position: relative;
    background: rgb(214, 201, 201);
}

.btn24::before {
    z-index: -1;
    top: -7px;
    right: -8px;
    content: "";
    height: 38px;
    width: 84px;
    border: 1px solid rgb(196, 194, 194);
    background: transparent;
    position: absolute;
}

.btn25 {
    box-shadow: 3px -1px 22px -9px #afabab;
    background: #fff;
}

.btn26 {
    border: 1px solid #7b7777;
    box-shadow: 2px 2px 22px 4px #afabab;
    background: rgb(214, 201, 201);
}

.btn28 {
    box-shadow: 2px 2px 22px 4px #afabab;
    background: #fff;
}

.btn29 {
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 5px;
    background: #bdb5b5;
}
.btn30 {
    position: relative;
    border: 1px solid rgb(116, 110, 110);
    background: transparent;
    }
    
    .btn30::before {
    background: rgb(203, 240, 245);
    z-index: -1;
    top: -7px;
    right: -8px;
    content: "";
    height: 38px;
    width: 84px;
    position: absolute;
}