*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    /* height: 100vh; */
    /* overflow: hidden; */
    padding: 24px 45px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 0.6rem;
   
}



 figure{
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: auto;
    width: 446px;
    height: 300px;
    overflow: hidden;
    background-color: red;
}

figure img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

 .img-row2{
    width: 200px;
    height: 300px;
}
 .img5-row2{
    width: 600px;
    height: 300px;
}
.row2{
    width: 350px;
    height: 300px;;
}
.row3{
    width: 415px;
    height: 300px;
}
.raw3-lastimg{
    width: 240px;
    height: 300px;;
}