@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

.container {
    background: url(/img/bg_blur.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    filter: blur(390px);
    z-index: 0;
    position: absolute;
}

header {
    width: 100%;
    margin-left: 151px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid rgba(0, 60, 214, .1);
    ;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 21px 14px;
    gap: 35px;
    list-style: none;
}

.logo {
    /* margin-left: 145px; */
}

.logo a {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color: black;
}


nav ul li a {
    text-decoration: none;
    color: rgb(104, 112, 118);
}

.nav-right a {
    text-decoration: none;
    color: #003cd6;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
}

/* home content here  */    

.home-container {
        display: flex;
        gap: 71px;
        padding-left: 65px;
        padding-top: 72px;
}

.home {
    padding: 0px 45px;
}


.img {
   
    background: url(/img/Home_Banner_Image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 89%;
    position: relative;
    z-index: 1000;
    object-fit: cover;
    border-radius: 10px;
}
.img img {
    width: 100%;
}

.content {
    margin-top: 65px;
    padding: 0px 111px;
}

.content h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 64px;
}

.content p {
    font-size: 19px;
    padding: 27px 0px;
    font-weight: 300;
}

.btn {
    position: relative;
    z-index: 1000;
}

.btn button {
    padding: 8px 11px;
    border: none;
    background: #003cd6;
    font-size: 17px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
}

@media(max-width:1441px) {
    nav {
        width: 80%;
        padding: 0px 12px;
    }
}

@media(max-width:1025px) {
    .home {
        padding: 0px;
    }

    .home-container {
        gap: 65px;
    }

    .img {
        padding: 80px 0px 0px 18px;
    }

    header {
        margin-left: 0px;
    }

    nav {
        width: 100%;
    }

    img {
        width: 60%;
        height: 550px;
    }

}