

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 54px;
}

.btn {
   display: flex;
   align-items: center;justify-content: center;
   margin-top: 45px;
   /* gap: 2rem; */
   background: rgb(185, 182, 182);
   border-radius: 4px;
   padding: 8px 8px
}
.btn button{
    text-transform: uppercase;
    color:#000;
    border: none;
    outline: none;
    background: none;
    margin: 2px;
    padding: 10px 53px;
    background: none;
    letter-spacing: 1px;
    border-radius: 4px;
}
.btn button:hover{
    background: black;
    color: #ffff;
}
.content h1{
    font-weight: 500;
    font-size: 45px;
    text-transform: capitalize;
}
.card-container{
    padding-top: 45px;
    display: flex;
    gap: 4rem;
    align-items: center;
    /* flex: 1 1 auto; */
    justify-content: center;
    
}
.card figure{
    height: 289px;
    width: 289px;
}
.card figure img{
    width: 100%;
}

